html {
  font-size: 50px;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #265f6b;
  color: #265f6b;
}

p {
  font-size: 0.5rem;
}

small {
  font-size: 0.4rem;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 1000px;
  padding: 40px 40px 40px;
  background-color: lightpink;
}

.title {
  font-size: 2.0rem;
  text-align: center;
  color: #265f6b;
  font-family: monospace;
}
.form {
  display:grid;
}

.query {
  font-size: 0.5rem;
  padding: 0.25rem 0.25rem;
  line-height: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.button {
  font-size: 0.5rem;
  padding: 0.25rem 0.25rem;
  border-radius: 10px;
  line-height: 0.5rem;
  border: 4px solid #ddd;
  cursor: pointer;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #265f6b;
  color: white;
}

@media (max-width:786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .query {
    margin-bottom: 0;
  }
}

.card {
  padding: 1rem 1rem;
  border-radius: 10px;
  margin-bottom:  1rem;
  border: 5px solid #265f6b;
}

.card--title {
  margin-bottom: 0;
  font-style: italic;
}

.card-list {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}
